<!--Left Sidebar with info Profile -->
    <div class="sidebar-nav">
        <a href="/user/{{myUsername}}" title="Profile">
            <img src="/img/{{myProfilePic}}" alt="User name" class="img-circle img-user">
        </a>
        <h2 class="text-center hidden-xs"><a href="/user?person={{myUsername}}" title="Profile">{{myUsername}}</a></h2>
        <p class="text-center user-description hidden-xs">
            <i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</i>
        </p>
    </div>